.page{
  width: 100%;
}
.div body{
  margin: 0;
}
.nav {
  /* width: 100%; */
  background-color: #222;
  padding: 10px 0;
  color: white;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  padding: 10px 20px;
}

.pageheader h1 {
  font-size: 24px;
  margin: 20px 0;
  justify-content: center;
}
.pageheader span {
  font-size: 16px;
  color: #777;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-self: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.placeholder {
  position: relative;
  background-color: #ccc;
  color: #666;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  aspect-ratio: 700 / 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-size: 18px;
  color: #007bff;
  margin: 10px 0 5px;
}
.card p {
  color: #555;
  font-size: 14px;
}

.footer {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #777;
  background-color: #f9f9f9;
}


@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .container {
    flex-direction: column;
    gap: 10px;
  }
}
